body {
    font-family: "Josefin Slab", serif;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    padding-top: 55px;
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }
  