    .weather {
      text-align: center;
      padding: 25px 60px;
    }
    
    .todayWeather,
    .todayTemp,
    .todayHumidityWind {
      list-style-type: none;
      padding: 0;
    }
    
    .current-icon {
      font-size: 110px;
      margin-top: -20px;
      color: rgba(245, 245, 245, 0.863);
    }
  
    
    .description {
      font-size: 20px;
      position: relative;
      top: -30px;
      color: rgba(245, 245, 245, 0.863);
    }
    
    .main-temp {
      font-size: 120px;
      font-weight: 600;
      color: rgb(250, 240, 108);
      position: relative;
      top: 10px;
      left: 20px;
    }
    .cf-symbol {
      font-size: 22px;
      position: relative;
      top: -55px;
      left: 5px;
    }
    
    .cf-symbol span {
      cursor: default;
      color: rgb(250, 240, 108, 0.6);
      text-decoration: none;
    }
    
    .cf-symbol .active {
      color: rgb(250, 240, 108);;
    }
    
    .todayHumidityWind {
      font-size: 17px;
      color: rgba(245, 245, 245, 0.863);
      position: relative;
      top: 5px;
      left: 45px;
    }
     .additionals {
      position: relative;
      left: 5px;
     }
     .additionals-humidity {
      position: relative;
      left: 10px;
     }