.weather {
    text-align: center;
    /* color: rgba(245, 245, 245, 0.863); */
    padding: 35px 60px;
  }
  
  .todayWeather,
  .todayTemp,
  .todayHumidityWind {
    list-style-type: none;
    padding: 0;
  }
  
  .current-icon {
    font-size: 55px;
    margin-top: -20px;
    color: rgba(245, 245, 245, 0.863);
  }
  
  .presentClimate {
    font-size: 25px;
    position: relative;
    top: -17px;
    color: rgba(245, 245, 245, 0.863);
  }
  
  .main-temp {
    font-size: 120px;
    font-weight: 600;
    line-height: 60px;
    color: rgb(250, 240, 108);
  }
  .cf-symbol {
    font-size: 22px;
    position: relative;
    top: -55px;
    left: 5px;
  }
  
  .cf-symbol a {
    cursor: default;
    color: rgb(250, 240, 108, 0.7);
    text-decoration: none;
  }
  
  .cf-symbol .active {
    color: rgb(250, 240, 108);
  }
  
  .todayHumidityWind {
    font-size: 17px;
    color: rgba(245, 245, 245, 0.863);
    position: relative;
    top: -15px;
  }
   .extras {
    position: relative;
    left: 5px;
   }
   .extras-humidity {
    position: relative;
    left: 8px;
   }